
@{
    ViewData["Title"] = "Error";
}

<h1>An unknown error occured</h1>
<h2>
    We are terribly sorry!
</h2>
<p>
    Notify <strong>Str1XHyper#9792</strong> on discord with the following error!
</p>
<br />
<br />
<br />
<br />
<p>
    @ViewData["ErrorMessage"] <br />
    @ViewData["ErrorDate"]
</p>
