@model F4DEDTournaments.Models.Tournament.IndexViewModel
@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                Future tournaments
            </div>
            <div class="card-body" style="height:100%">
                @if (Model.Tournaments.Count > 0)
                {
                    foreach (var tournament in Model.Tournaments)
                    {
                        <div class="pb-2">
                            <div class="card">
                                <div class="card-header p-2">
                                    <b>@tournament.Name</b>
                                </div>
                                <div class="card-body  p-2">
                                    <div class="col">
                                        <a>Prize pool: @tournament.Prize Tokens</a>
                                    </div>
                                    <div class="col">
                                        @if (tournament.BuyIn > 0)
                                        {
                                            <a>Buy in: @tournament.BuyIn Tokens</a>
                                        }
                                        else
                                        {
                                            <a>Buy in: Free</a>
                                        }
                                    </div>
                                    <div class="col">
                                        @{ 
                                            var timeleft = tournament.StartTime - DateTime.Now;
                                            string StartsIn ="";
                                            if(timeleft < TimeSpan.Zero)
                                            {
                                                StartsIn = "Waiting for players";
                                            }
                                            else
                                            {
                                                StartsIn = timeleft.ToString(@"hh\:mm\:ss");
                                            }
                                        }
                                        Starts in: @StartsIn
                                    </div>
                                </div>
                                <div class="card-footer p-2">
                                    <a class="btn btn-primary" asp-action="ViewTournament" asp-route-ID="@tournament.ID">Go to Tournament</a>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div>There are planned tournaments</div>
                    <a asp-action="CreateTournament" class="btn btn-primary text-white mt-2">Create a Tournament</a>
                }
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="pb-3">
            <div class="card ">
                <div class="card-header">
                    Create
                </div>
                <div class="card-body">
                    <a asp-action="CreateTournament" class="btn btn-primary text-white">Create a Tournament</a>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <div class="card-header">
                    Active
                </div>
                <div class="card-body">
                    Active Tournaments
                </div>
            </div>
        </div>
    </div>
</div>

